In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

# Travel times

In [86]:
# Diese Zelle l√∂schen, den rest im df brauche ich nicht
df = pd.read_csv('../data/pairwise_travel_times.csv')
df.head()

,origin,destination,mode,distance_meters,distance_text,duration_seconds,duration_text,duration_in_traffic_seconds,duration_in_traffic_text
0,MQ ...,Altes AKH ...,walking,1529,1.5 km,1303,22 mins,,
1,MQ ...,Am Hof ...,walking,1365,1.4 km,1120,19 mins,,
2,MQ ...,Spittelberg ...,walking,64,64 m,58,1 min,,
3,MQ ...,Stephansplatz ...,walking,1656,1.7 km,1343,22 mins,,
4,MQ ...,Opera ...,walking,4473,4.5 km,3735,1 hour 2 mins,,

In [96]:
df = pd.read_csv('../data/pairwise_travel_times.csv')
df.columns = df.columns.str.strip() # the column names have endspaces etc.
df['duration_walking_min'] = np.ceil(df['duration_seconds'] / 60).astype(int) # Convert to minutes and round up
df.rename(columns={'duration_seconds': 'duration_walking_sec'}, inplace=True)
df.drop(columns=['mode', 'distance_text', 'duration_text', 'duration_in_traffic_seconds', 'duration_in_traffic_text'], inplace=True)
df['origin'] = df['origin'].astype('string')
df['destination'] = df['destination'].astype('string')
df['duration_public_transport_sec'] = np.nan
df['duration_public_transport_min'] = np.nan
df.head()

,origin,destination,distance_meters,duration_walking_sec,duration_walking_min,duration_public_transport_sec,duration_public_transport_min
0,MQ ...,Altes AKH ...,1529,1303,22,NaN,NaN
1,MQ ...,Am Hof ...,1365,1120,19,NaN,NaN
2,MQ ...,Spittelberg ...,64,58,1,NaN,NaN
3,MQ ...,Stephansplatz ...,1656,1343,23,NaN,NaN
4,MQ ...,Opera ...,4473,3735,63,NaN,NaN

In [95]:
len(df) == 32*31 # check if all pairs are there

True

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   origin                         992 non-null    string
 1   destination                    992 non-null    string
 2   distance_meters                992 non-null    int64
 3   duration_walking_sec           992 non-null    int64
 4   duration_walking_min           992 non-null    int64
 5   duration_public_transport_sec  0 non-null      float64
 6   duration_public_transport_min  0 non-null      float64
dtypes: float64(2), int64(3), string(2)
memory usage: 54.4 KB

In [ ]:
# df.to_csv('../data/travel_cleaned.csv', index=False)

# opening hours

In [102]:
df1 = pd.DataFrame()
df1['Christmas_Market'] = df['origin'].unique().tolist()
df1['Opening_at'] = np.nan
df1['Closing_at'] = np.nan
df1.head()

                                    Christmas_Market  Opening_at  Closing_at
0  MQ                                            ...         NaN         NaN
1  Altes AKH                                     ...         NaN         NaN
2  Am Hof                                        ...         NaN         NaN
3  Spittelberg                                   ...         NaN         NaN
4  Stephansplatz                                 ...         NaN         NaN

In [103]:
df1.to_csv('../data/opening_hours.csv', index=False)